In [1]:
# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year.
# You have to write a program to find out the population at the end of each of the last 10 years.

current = 10000

for i in range(10,0,-1):
    print(i,current)
    current = current / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

In [3]:
# Sequence sum
# 1/1! + 2/2! + 3/3! + ...
n = int(input('enter n'))

sum = 0
fact = 1

for i in range(1,n+1):
    fact *= i
    sum += i / fact
    
print(sum)

enter n1
1.0

In [18]:
'''
Write a Python Program to Find the Sum of the Series till the nth term:
1 + x^2/2 + x^3/3 + â€¦ x^n/n
n will be provided by the user
'''

n = int(input("Enter the value of n: "))
x = float(input("Enter the value of x: "))

sum = 1

for i in range(2,n+1):
    
    temp = (x ** i) / i
    sum += temp

print(sum)

Enter the value of n: 5
Enter the value of x: 2
16.066666666666666

In [21]:
'''
Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, 
if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate.
And the output style should match which is given in the example.
'''

n = int(input('Enter the number here : '))
sum = 0
for i in range(1,n+1):
    
    temp = '2'*i
    temp = int(temp)
    sum += temp
print(sum)

Enter the number here : 5
24690

In [4]:
# print unique pair

for  i in range(1,6):
    for j in range(1,6):
        print(i,j)

1 1
1 2
1 3
1 4
1 5
2 1
2 2
2 3
2 4
2 5
3 1
3 2
3 3
3 4
3 5
4 1
4 2
4 3
4 4
4 5
5 1
5 2
5 3
5 4
5 5

In [11]:
'''
Pattern 1
*
**
***
'''
n = int(input('Enter the numbers of row here : '))
for i in range(1,n+1):
    for j in range(i):
        print('*', end = '')
    print()

Enter the numbers of row here : 5
*
**
***
****
*****

In [13]:
'''
Pattern 2
1
121
12321
1234321
'''
row = int(input('Enter the number of row here : '))

for i in range(1,row+1):
    for j in range(1,i+1):
        print(j,end = '')
    for k in range(i-1,0,-1):
        print(k,end = '')
        
    print()

Enter the number of row here : 5
1
121
12321
1234321
123454321

In [5]:
'''
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
'''
row = int(input('Enter the number of row : '))

for i in range(1,row+1):
    for j in range(1+row-i,0,-1):
        print(j, end = ' ')
    print()

Enter the number of row : 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [10]:
'''
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
'''
row = int(input('Enter the number of row : '))
for i in range(1,row+1):   
    for j in range(1,i+1):
        print('*',end = ' ')
    print()
for k in range(row-1,0,-1):    
    for x in range(1,k+1):
        print('*',end = ' ')
    print()

Enter the number of row : 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
'''
    *
  * * *
* * * * *
'''
row = int(input('Enter the number of row : '))
for i in range(1,row+1):
    for j in range(1,row+1-i):
        print(' ', end = ' ')
    for k in range(1,i+1):
        print('*',end = ' ')
    for l in range(i-1,0,-1):
        print('*',end = ' ')
    print()

Enter the number of row : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [16]:
row = int(input('Enter the number of row : '))
for i in range(1,row+1):
    for j in range(1,row+1-i):
        print(' ', end = ' ')
    for k in range(1,i+1):
        print('*',end = ' ')
    for l in range(i-1,0,-1):
        print('*',end = ' ')
    print()
for i in range(row-1,0,-1):
    for j in range(1,row+1-i):
        print(' ', end = ' ')
    for k in range(1,i+1):
        print('*',end = ' ')
    for l in range(i-1,0,-1):
        print('*',end = ' ')
    print()

Enter the number of row : 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [8]:
# print xmas tree without nested loop
row = int(input('Enter row here : '))

for i in range(1,row+1):
    space = (row - i)
    star = (i *2 -1)
    print((' ' * space)+('*' * star))
    
for i in range(row-1,0,-1):
    space = (row - i)
    star = (i *2 -1)
    print((' ' * space)+('*' * star))

Enter row here : 5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [17]:
'''
1

2 1

3 2 1

4 3 2 1

5 4 3 2 1
'''

row = int(input('Enter the number of row here : '))

for i in range(1,row+1):
    for j in range(i,0,-1):
        print(j,end = ' ')
    print()

Enter the number of row here : 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [14]:
'''
Loop Control Statements:

Break
Continue
Pass
'''
# find prime number between given range

lower = int(input())
upper = int(input())

for i in range(lower,upper+1):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

10
100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
'''
Strings are sequence of Characters

In Python specifically, strings are a sequence of Unicode Characters

Creating Strings
Accessing Strings
Adding Chars to Strings
Editing Strings
Deleting Strings
Operations on Strings
String Functions
'''

'\nStrings are sequence of Characters\n\nIn Python specifically, strings are a sequence of Unicode Characters\n\nCreating Strings\nAccessing Strings\nAdding Chars to Strings\nEditing Strings\nDeleting Strings\nOperations on Strings\nString Functions\n'

In [17]:
# Creating Stings

s = 'hello'
s = "hello"
# multiline
s = ''' hello'''
s = str('hello')

print(s)

hello

In [18]:
"it's raining outside"

"it's raining outside"

In [19]:
# Positive indexing

s = 'hello world'
print(s[1])

e

In [21]:
# Negative indexing

s = ' hi shaheen'
print(s[-1])

# Advantage of negative indexing is we can get the last character of any string without knowing the len of that string

n

In [26]:
# Slicing
s = 'hello world'
print(s[6:0:-2])

wol

In [27]:
print(s[::-1])

dlrow olleh

In [30]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

In [31]:
s = 'hello world'
s[0] = 'H'

# Python strings are immutable

TypeError: 'str' object does not support item assignment

In [32]:
print(s[-1:-5:2])

In [33]:
s = 'hello world'
del s
print(s)

NameError: name 's' is not defined

In [34]:
s = 'hello world'
del s[-1:-5:2]
print(s)

# we can't delete any part of string as it is immutable

TypeError: 'str' object does not support item deletion

In [28]:
'''
Operations on Strings
Arithmetic Operations(*,+)
Relational Operations (==,>,<,!)
Logical Operations(and,or,not)
Loops on Strings(for)
Membership Operations(in, not in)
'''

'\nOperations on Strings\nArithmetic Operations(*,+)\nRelational Operations (==,>,<,!)\nLogical Operations(and,or,not)\nLoops on Strings(for)\nMembership Operations(in, not in)\n'

In [4]:
# +, *
print('Hi'+' '+'shaheen')

Hi shaheen

In [6]:
print('*'*50)

**************************************************

In [7]:
'Shaheen' > 'shaheen'

False

In [13]:
'shaheen'  == 'shaheen'

True

In [14]:
'shaheen' and 'you'

'you'

In [15]:
'shaheen' or 'you'

'shaheen'

In [16]:
'' and ''

''

In [17]:
False and False

False

In [18]:
not ''

True

In [19]:
not 'shaheen'

False

In [22]:
for i in 'sheheen':
    print(i)

s
h
e
h
e
e
n

In [24]:
for i in 'shaheen':
    print('hi')

hi
hi
hi
hi
hi
hi
hi

In [25]:
's' in 'shaheen'

True

In [26]:
'S'  not in 'shaheen'

True

In [27]:
'S'in 'shaheen'

False

In [29]:
'''
Common Functions
len
max
min
sorted
'''

'\nCommon Functions\nlen\nmax\nmin\nsorted\n'

In [30]:
len('hello world')

11

In [31]:
max('hello world')

'w'

In [32]:
min('hello world')

' '

In [33]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [34]:
sorted('hello world', reverse = True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

In [ ]:
# Capitalize/Title/Upper/Lower/Swapcase

In [35]:
s = 'hello world'

In [36]:
s.capitalize()

'Hello world'

In [37]:
s.title()

'Hello World'

In [38]:
s.lower()

'hello world'

In [39]:
'Shaheen Haque MMMM'.upper()

'SHAHEEN HAQUE MMMM'

In [40]:
'shAHeen'.swapcase()

'SHahEEN'

In [41]:
# Count/Find/Index

In [43]:
'shaheen'.count('e')

2

In [44]:
'shahidul'.find('i')

4

In [45]:
# endswith/startswith
'i am shaheen'.startswith('i')

True

In [47]:
'i am shaheen'.endswith('i')

False

In [48]:
'i am shaheen'.endswith('en')

True

In [49]:
# format
g = 'male'
n = 'shaheen'

'Hi, my name is {} and my gender is {}'.format(n,g)

'Hi, my name is shaheen and my gender is male'

In [50]:
# isalnum/ isalpha/ isdigit/ isidentifier

In [52]:
'shaheen123'.isalnum()

True

In [54]:
'shaheen123@'.isalnum()

False

In [56]:
'shaheen'.isalpha()

True

In [57]:
'shaheen2'.isalpha()

False

In [58]:
'12455'.isdigit()

True

In [64]:
'shaheen'.isidentifier()

True

In [65]:
'-shaheen'.isidentifier()

False

In [66]:
'_shaheen'.isidentifier()

True

In [ ]:
# split/join

In [70]:
'i am shahiudl haque shaheen'.split()

['i', 'am', 'shahiudl', 'haque', 'shaheen']

In [71]:
' '.join(['i', 'am', 'shahiudl', 'haque', 'shaheen'])

'i am shahiudl haque shaheen'

In [72]:
# rplace/ strip

In [76]:
'hi my name is shahen'.replace('shahen','nizam')

'hi my name is nizam'

In [75]:
'shaheen                           '.strip()

'shaheen'

## Problems

In [3]:
# Find the length of a given string without using the len() function

st = input('Enter your string here: ')
c = 0

for i in st:
    c += 1
print('Length of the string is :', c)

Enter your string here: shaheen
Length of the string is : 7

In [5]:
# Extract username from a given email. 
# Eg if the email is nitish24singh@gmail.com 
# then the username should be nitish24singh

mail = input('Enter your mail id here : ')

temp = mail.index('@')
print(mail[:temp])

Enter your mail id here : shaheen@gmail.com
shaheen

In [7]:
# Count the frequency of a particular character in a provided string. 
# Eg 'hello how are you' is the string, the frequency of h in this string is 2.

s = input('Enter your string here : ')
ch = input('Enter the character here : ')
c = 0

for i in s:
    if i == ch:
        c += 1
print('Frequency :',c)

Enter your string here : sshaheeeeen
Enter the character here : s
Frequency : 2

In [10]:
# Write a program which can remove a particular character from a string.
s = input('enter the string ')
term = input('what would like to remove ')

result = ''

for i in s:
    if i != term:
        result += i
print(result)

enter the string shaheen
what would like to remove s
haheen

In [17]:
# Write a program that can check whether a given string is palindrome or not.
# abba
# amma

s = input('Enter your string here : ')
flag = True
for i in range(len(s) // 2):
    if s[i] != s[len(s) - 1 - i]:
        print('Not a palindrome')
        flag = False
        break
if flag:
    print('Palindrome')

Enter your string here : malayalam
Palindrome

In [19]:
# Write a program to count the number of words in a string without split()

s = input('Enter your string here : ')
s += ' '
lst = list()

temp = ''

for i in s:
    if i != ' ':
        temp += i
    else:
        lst.append(temp)
        temp = ''
        
print(lst)

Enter your string here : hi i am shahidul haque shaheen
['hi', 'i', 'am', 'shahidul', 'haque', 'shaheen']

In [24]:
# Write a python program to convert a string to title case without using the title()
st  = input('Enter your string here : ')
lst = list()
for i in st.split():
    lst.append(i[0].upper()+i[1:].lower())
    
print(' '.join(lst))

Enter your string here : hi shahidul haque shaheen
Hi Shahidul Haque Shaheen

In [2]:
#  Write a program that can convert an integer to string without built in function.

num = int(input('Enter your number : '))

digits = '0123456789'
result = ''

while num != 0:
    
    temp = num % 10
    result = digits[temp] + result
    num = num // 10
print(type(result))

Enter your number : 234
<class 'str'>

In [9]:
for i in range(1,4):
    for j in range

(1,)
(2,)
(3,)
(4,)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)
(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)
(1, 2, 3, 4)

In [10]:
from itertools import permutations

def print_unique_permutations(elements):
    for perm in permutations(elements):
        print(" ".join(map(str, perm)))

# Set the elements
numbers = [1, 2, 3, 4]

# Print all unique permutations
print_unique_permutations(numbers)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

In [12]:
 print(permutations([1,2,3,4]))

<itertools.permutations object at 0x000001B5E52A1030>

In [14]:
# Write a program that will take a decimal number as input and prints out the binary equivalent of the number

decimal_input = int(input("Enter a decimal number: "))
result = ''

if decimal_input == 0:
    print(str(0))
    
else:
    
    while decimal_input != 0:
        reminder = decimal_input % 2
        result = str(reminder) + result
        decimal_input = decimal_input // 2
        
print(result)

Enter a decimal number: 10
1010

In [2]:
# Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.

s = input('Enter your string here : ')
r = ''
for i in s.split():
    r = r + i[0].upper()

print(r)

Enter your string here : Data science mentorship program
DSMP

In [3]:
# Append second string in the middle of first string
'''
Input:
campusx
data

Output:
camdatapusx
'''
s1 = input()
s2 = input()
r = s1[:len(s1) // 2] + s2 + s1[len(s1) // 2 :]
print(r)

campus
data
camdatapus

In [6]:
'''
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
Given:
str1 = PyNaTive

Expected Output:
yaivePNT
'''
s = input()
r1 = ''
r2 = ''

for i in s:
    if i == i.lower():
        r1 += i
    else:
        r2 += i
print(r1+r2)

PyNaTive
yaivePNT

In [17]:
'''
Take a alphanumeric string input and print the sum and average of the digits that appear in the string,
ignoring all other characters.
Input:
hel123O4every093

Output:
Sum: 22
Avg: 2.75
'''

s = input('Enter your string here : ')
lst = list()
for i in s:
    #print(i)
    if i.isdigit():
        lst.append(int(i))
        
print('Sum:',sum(lst))
print('Avg:',sum(lst)/len(lst))

Enter your string here : hel123O4every093
Sum: 22
Avg: 3.142857142857143

In [18]:
'''
Removal of all characters from a string except integers
Given:
str1 = 'I am 25 years and 10 months old'

Expected Output:
2510
'''
s = input()
r = ''
for i in s:
    if i.isdigit():
        r += i
print(r)

I am 25 years and 10 months old
2510

In [27]:
'''
Check whether the string is Symmetrical.
Statement: Given a string. the task is to check if the string is symmetrical or not. 
A string is said to be symmetrical if both the halves of the string are the same.

Input:
khokho

Output:
The entered string is symmetrical
'''

def is_symmetrical(s):
    
    if len(s) % 2 == 0:
        return s[:len(s) // 2] == s[len(s) // 2 :]
    else:
        return s[:len(s) // 2] == s[(len(s) // 2)+1 :]

s = input()
if is_symmetrical(s):
    print("The entered string is symmetrical")
else:
    print("The entered string is not symmetrical")

khokho
The entered string is symmetrical

In [59]:
'''
Reverse words in a given String
Statement: We are given a string and we need to reverse words of a given string.

Input:
geeks quiz practice code

Output:
code practice quiz geeks
'''
s = input()
r = ''

for i in s.split():
    
    r = i+' ' + r
r.strip()
    
print(r)

my name is shaheen
shaheen is name my

In [39]:
'''
Find uncommon words from two Strings.
Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.
Input:
A = "apple banana mango" 
B = "banana fruits mango"
Output:
['apple', 'fruits']
'''
def uncommon_words(A, B):
    
    all_words = A.split() + B.split()
    dct = {}
    for word in all_words:
        if word not in dct:
            dct[word] = 1
        else:
            dct[word] += 1
            
    print(dct)    
    
    uncommon_words_list = [word for word in all_words if dct[word] == 1]

    return uncommon_words_list


A = "apple banana mango"
B = "banana fruits mango"
result = uncommon_words(A, B)
print(result)

{'apple': 1, 'banana': 2, 'mango': 2, 'fruits': 1}
['apple', 'fruits']

In [42]:
'''
Word location in String.
Statement: Find a location of a word in a given sentence.

Input:
Sentence: We can learn data science through campusx mentorship program.
word: campusx

Output:
Location of the word is 7.
'''
s = input('Enter your sentence here : ')
word = input('Enter the word you are to get the position of it')

for i in s.split():
    if i == word:
        print('Location of the word is',(s.split().index(i))+1)

Enter your sentence here : We can learn data science through campusx mentorship program
Enter the word you are to get the position of itcampusx
Location of the word is 7

In [49]:
'''
Write a program that can remove all the duplicate characters from a string. User will provide the input.
'''
def remove_duplicates(input_string):
    
    unique_characters = set()
    result_list = []

    for char in input_string:
        
        if char not in unique_characters:
            unique_characters.add(char)
            result_list.append(char)
            
    
    print(unique_characters)
    print(result_list)
    result_string = ''.join(result_list)
    
    return result_string


input_str = "programming contest"
result = remove_duplicates(input_str)
print(result)

{'t', 'o', 'n', 'a', 'i', 'g', 'e', 'c', 'r', 's', ' ', 'm', 'p'}
['p', 'r', 'o', 'g', 'a', 'm', 'i', 'n', ' ', 'c', 't', 'e', 's']
progamin ctes

In [51]:
# string is immutable

In [56]:
s = "   fly me   to   the moon  "
s = s.split()
s = s[-1]
len(s)

4

In [ ]:
        r = ''
        for i in s.strip().split():
            if i == s.strip().split()[0]:
                r = i+r
            else:
                r = i+' ' + r
        return r